nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 90%;
    margin: auto;
    #logo{
        display: flex;
        align-items: flex-end;
        h1{
            font-family: $poppins;
            font-size: 40px;
            height: auto;
            color: #484848;
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        width: 40%;
        margin-top: 30px;
        li{
            font-family: $poppins;
            font-size: $pSize;
            list-style: none;
            color: $blanc;
        }
    }
}
@media screen and (max-width : $laptop){
    nav{
        flex-direction: column;
        justify-content: center;
        ul{
            margin: auto;
            margin-top: 25px;
        }
        #logo{
        width: 300px;
        margin: auto;
        h1{
            color: $blanc;
        }
        
    }
}
    }
    

@media screen and (max-width : $mobileL){
    nav{
        #logo{
            h1{
                color: $noir;
            }
        }
        ul{
            li{
                color: $noir;
                margin-right: 10px;
            }
            
        }
    }
}
