// FONT
$poppins : 'Poppins', sans-serif;
$lato : 'Lato', sans-serif;
$dosis : 'Dosis', sans-serif;

// FONT SIZE
$titleSize : 50px;
$pSize : 16px;
$ctaSize : 12px;
$subtitleSize : 20px;

// COLORS
$blanc : #ffff;
$noir : #42495b;
$gris : #7a839e;
$ctaColor : linear-gradient(to left, #6156f9 , #1a129f);
$violet : #7e76f9;
$blue : #1000ff;

// FONT WEIGHT
$regular : normal;
$medium : medium;
$semiBold : bold;

// CTA
$ctaRadius : 22px;

// BACKGROUND IMAGE
$waveBackground : url(../assets/img/wave.svg);
$weAreBackground : url(../assets/img/background-we-are.png);
$serviceBackground : url(../assets/img/background-service.png);
$footerBackground : url(../assets/img/footer.png);



